.my-list{
    margin: 0 auto;
    background-color: #c2f598;
    Padding: 8px 24px;
    Width: 500px;
    font-size: 30px;
    Border: 1px solid #f7f381;
    box-shadow:0 0 10px 2px #333333;
}
p{
    text-align: center;
}
ol{
    margin:12px
}


